<!DOCTYPE html>
<html>
<head>
	<title>Bloggs - Curriculum Vitae</title>

	<meta name="viewport" content="width=device-width"/>
	<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
	<meta charset="UTF-8">

	<link type="text/css" rel="stylesheet" href="templatecss/Bloggs.css">
	<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body id="top">
	<div class="template-body" id="cv" class="instaFade">
		<div class="mainDetails">
			<div id="headshot" class="quickFade">
				<%if(locals.contact_info){%>
					<img src="<%=contact_info.Avatar ? contact_info.Avatar : '/img/default_avatar.jpg' %>" alt="Alan Smith" />
				<%}else{%>
					<img src="/img/default_avatar.jpg" alt="Alan Smith" />
				<%}%>
			</div>
			<div id="name">
				<h1 class="quickFade delayTwo">
					<%if(locals.contact_info){%>
						<%= locals.contact_info.FirstName? locals.contact_info.FirstName : '' %>
						<%= locals.contact_info.LastName? locals.contact_info.LastName : '' %>
						<%}%>
					</h1>
					<!-- <h2 class="quickFade delayThree">Job Title</h2> -->
				</div>

				<div id="contactDetails" class="quickFade delayFour">
					<ul>
						<%if(locals.contact_info) {%>
							<%if(locals.contact_info.Email){%>
								<li>e: <a href="mailto:<%= contact_info.Email %>" target="_blank">  <%= contact_info.Email %></a></li>
							<%}%>
							<%if(locals.contact_info.Address){%>
								<li>a: <%= contact_info.Address %></li>
							<%}%>
							<%if(locals.contact_info.Phone){%>
								<li>m: <%= contact_info.Phone %></li>
							<%}%>
							<%if(locals.contact_info.Website){%>
								<li>w: 	<a href="<%=contact_info.Website%>"><%=contact_info.Website%></a></li>
							<%}%>
						<%}%>
					</ul>
				</div>
				<div class="clear"></div>
			</div>

			<div id="mainArea" class="quickFade delayFive">
				<section>
					<article>
						<%if(locals.summary){%>
							<div class="sectionTitle">
								<h1><%= locals.summary.Headline ? summary.Headline : '' %></h1>
							</div>

							<div class="sectionContent">
								<%= locals.summary.ProfessionalSummary ? summary.ProfessionalSummary : ''%>
							</div>
						<%}%>
					</article>
					<div class="clear"></div>
				</section>

				<%if(locals.skills && locals.skills.length > 0){%>
					<section>
						<article>
							<div class="sectionTitle">
								<h1>Skills</h1>
							</div>

							<div class="sectionContent">
								<% skills.forEach(function(skill) { %>
									<article>
										<h2><%= skill.Name %></h2>
										<p class="subDetails">Level: <%= skill.Level %> - LastUse: <%= skill.LastTime %></p>
										<p><%= skill.Maturity %>.</p>
									</article>
									<% }); %>
								</div>
								<div class="clear"></div>
							</article>
							<div class="clear"></div>
						</section>
						<%}%>

						<%if(locals.experiences && locals.experiences.length > 0){%>
							<section>
								<article>
									<div class="sectionTitle">
										<h1>Experience</h1>
									</div>

									<div class="sectionContent">
										<% experiences.forEach(function(exp) { %>
											<article>
												<h2><%= exp.Company %> </h2>
												<p class="subDetails"><%= exp.Designation %> - <%= exp.FromDate %> - <%= exp.ToDate %></p>
												<p><%= exp.Details%></p>
											</article>
											<% }); %>
										</div>
										<div class="clear"></div>
									</article>
									<div class="clear"></div>
								</section>
								<%}%>

								<% if(locals.educations && locals.educations.length > 0){%>
									<section>
										<article>
											<div class="sectionTitle">
												<h1>Educations</h1>
											</div>

											<div class="sectionContent">
												<% educations.forEach(function(edu) { %>
													<article>
														<h2><%= edu.Institude %></h2>
														<p class="subDetails"><%= edu.Degree %> - <%= edu.FromDate %> - <%= edu.ToDate %></p>
														<p> <%= edu.Details%></p>
													</article>
													<% }); %>
												</div>
												<div class="clear"></div>
											</article>
											<div class="clear"></div>
										</section>
										<%}%>


										<%if(locals.certifications && locals.certifications.length > 0){%>
											<section>
												<article>
													<div class="sectionTitle">
														<h1>Certifications</h1>
													</div>

													<div class="sectionContent">
														<% certifications.forEach(function(cer) { %>
															<article>
																<h2><%= cer.Title %></h2>
																<p class="subDetails"><%= cer.CertificateAuthority %> - <%= cer.Date %></p>
																<p> <%= cer.Details%></p>
															</article>
															<% }); %>
														</div>
														<div class="clear"></div>
													</article>
													<div class="clear"></div>
												</section>
												<%}%>
											</div>
										</div>

									</body>
									</html>
