<!DOCTYPE html>
<html>
<head>
	<title>Bloggs - Curriculum Vitae</title>

	<meta name="viewport" content="width=device-width"/>
	<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
	<meta charset="UTF-8">

	<link type="text/css" rel="stylesheet" href="templatecss/Bloggs.css">
	<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body id="top">
	<div class="template-body" id="cv" class="instaFade">
		<div class="mainDetails">
			<div id="headshot" class="quickFade">
				<img src="https://d2m2lkhawsaq1u.cloudfront.net/uploads/trial/steamworkshop_webupload_previewfile_136080635_preview_1392466870.jpg" alt="Alan Smith" />
			</div>

			<div id="name">
				<h1 class="quickFade delayTwo"><%= contact_info.FirstName %> <%= contact_info.LastName %></h1>
				<h2 class="quickFade delayThree">Job Title</h2>
			</div>

			<div id="contactDetails" class="quickFade delayFour">
				<ul>
					<li>e: <a href="mailto:<%= contact_info.Email %>" target="_blank">  <%= contact_info.Email %></a></li>
					<li>w: <%= contact_info.Address %></li>
					<li>m: <%= contact_info.Phone %></li>
					<%if(contact_info.Website != null){%>
						<li>
							<a href="<%=contact_info.Website%>">
								w: <%=contact_info.Website%>
							</a>
						</li>
						<%}%>
					</p>
				</ul>
			</div>
			<div class="clear"></div>
		</div>

		<div id="mainArea" class="quickFade delayFive">
			<section>
				<article>
					<div class="sectionTitle">
						<h1><%= summary.Headline %></h1>
					</div>

					<div class="sectionContent">
						<%= summary.ProfessionalSummary %>
					</div>
				</article>
				<div class="clear"></div>
			</section>

			<section>
				<article>
					<div class="sectionTitle">
						<h1>Skills</h1>
					</div>

					<div class="sectionContent">
						<% skills.forEach(function(skill) { %>
							<article>
								<h2><%= skill.Name %></h2>
								<p class="subDetails">Level: <%= skill.Level %> - LastUse: <%= skill.LastTime %></p>
								<p><%= skill.Maturity %>.</p>
							</article>
							<% }); %>
						</div>
						<div class="clear"></div>
					</article>
					<div class="clear"></div>
				</section>

				<section>
					<article>
						<div class="sectionTitle">
							<h1>Experience</h1>
						</div>

						<div class="sectionContent">
							<% experiences.forEach(function(exp) { %>
								<article>
									<h2><%= exp.Company %> </h2>
									<p class="subDetails"><%= exp.Designation %> - <%= exp.FromDate %> - <%= exp.ToDate %></p>
									<p><%= exp.Details%></p>
								</article>
								<% }); %>
							</div>
							<div class="clear"></div>
						</article>
						<div class="clear"></div>
					</section>

					<section>
						<article>
							<div class="sectionTitle">
								<h1>Educations</h1>
							</div>

							<div class="sectionContent">
								<% educations.forEach(function(edu) { %>
									<article>
										<h2><%= edu.Institute %></h2>
										<p class="subDetails"><%= edu.Degree %> - <%= edu.FromDate %> - <%= edu.ToDate %></p>
										<p> <%= edu.Details%></p>
									</article>
									<% }); %>
								</div>
								<div class="clear"></div>
							</article>
							<div class="clear"></div>
						</section>

						<section>
							<article>
								<div class="sectionTitle">
									<h1>Educations</h1>
								</div>

								<div class="sectionContent">
									<% educations.forEach(function(edu) { %>
										<article>
											<h2><%= edu.Institute %></h2>
											<p class="subDetails"><%= edu.Degree %> - <%= edu.FromDate %> - <%= edu.ToDate %></p>
											<p> <%= edu.Details%></p>
										</article>
										<% }); %>
									</div>
									<div class="clear"></div>
								</article>
								<div class="clear"></div>
							</section>

							<section>
								<article>
									<div class="sectionTitle">
										<h1>Certifications</h1>
									</div>

									<div class="sectionContent">
										<% certifications.forEach(function(cer) { %>
											<article>
												<h2><%= cer.Title %></h2>
												<p class="subDetails"><%= cer.CertificateAuthority %> - <%= cer.Date %></p>
												<p> <%= cer.Details%></p>
											</article>
											<% }); %>
										</div>
										<div class="clear"></div>
									</article>
									<div class="clear"></div>
								</section>
							</div>
						</div>

					</body>
					</html>
