<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Simple - Curriculum Vitae</title>
    <link type="text/css" rel="stylesheet" href="templatecss/Simple.css">
</head>
<div class="template-body">
    <div id="page-wrap">
        <div id="contact-info" class="vcard">
            <h1 class="fn">
                <%if(locals.contact_info) {%>
                    <%= locals.contact_info.FirstName ? contact_info.FirstName : '' %>
                    <%= locals.contact_info.LastName ? contact_info.LastName : ''  %>
                <%}%>
                </h1>
                <p>
                    <%if(locals.contact_info){%>
                        <img src="<%= locals.contact_info.Avatar ? contact_info.Avatar : '/img/default_avatar.jpg'  %>"
                        alt="CV's Image." id="pic" style="width: 120px; height: 160px" /> Cell: <span class="tel"><%= contact_info.Phone %></span><br/>
                        <%if(locals.contact_info.Email){%>
                            Email: <a class="email" href="mailto:<%= contact_info.Email %>"> <%= contact_info.Email %></a>
                        <%}%>
                        <br />
                        <%if(locals.contact_info.Address){%>
                            Address: <span class="tel"><%= contact_info.Address %></span><br />
                        <%}%>
                        <%if(locals.contact_info.Website){%>
                            Website:
                            <a href="<%=contact_info.Website%>">
                                <%=contact_info.Website%>
                            </a>
                        <%}%>
                    <%}else{%>
                        <img src="/img/default_avatar.jpg" id="pic" style="width: 120px; height: 160px"/>
                    <%}%>
                </p>
            </div>
            <div id="objective">
                <%if(locals.summary){%>
                    <%if(locals.summary.Headline){%> <h2><%- summary.Headline  %></h2>    <%}%>
                    <%if(locals.summary.ProfessionalSummary){%>
                        <p><%- summary.ProfessionalSummary %></p>
                    <%}%>
                <%}%>
            </div>
            <div class="clear"></div>
            <dl>
                <%if(locals.experiences && locals.experiences.length > 0){%>
                    <dt>Experience</dt>
                    <dd>
                        <% experiences.forEach(function(exp) { %>
                            <h2><%- exp.Company %> <span><%= exp.Designation %> - <%= exp.FromDate %> - <%= exp.ToDate %></span></h2>
                            <p>
                                <%- exp.Details%>
                            </p>
                        <% }); %>
                    </dd>

                    <dd class="clear"></dd>
                <%}%>

                <%if(locals.educations && locals.educations.length > 0){%>
                    <dt>Educations</dt>
                    <dd>
                        <% educations.forEach(function(edu) { %>
                            <h2><%=edu.Institude%> <span><%= edu.Degree %> - <%= edu.FromDate %> - <%= edu.ToDate %></span></h2>
                            <p>
                                <%- edu.Details%>
                            </p>
                        <% }); %>
                        </dd>

                        <dd class="clear"></dd>
                <%}%>

                <%if(locals.certifications && locals.certifications.length > 0){ %>
                    <dt>Certifications</dt>
                    <dd>
                        <% certifications.forEach(function(cer) { %>
                            <h2><%= cer.Title %><span><%= cer.CertificateAuthority %> - <%= cer.Date %></span></h2>
                            <p>
                                <%- cer.Details%>
                            </p>
                        <% }); %>
                        </dd>

                        <dd class="clear"></dd>
                    </dl>
                <%}%>

                <%if(locals.skills &&  locals.skills.length > 0){ %>
                    <dt>Skills</dt>
                    <dd>
                        <% skills.forEach(function(s) { %>
                            <h2><%= s.Name %><span></span></h2>
                            <p>
                                Expertise: <%= s.Expertise %> - Experience: <%= s.Experience %> - LastYearUsed: <%= s.LastYearUsed %>
                            </p>
                            <% }); %>
                        </dd>

                        <dd class="clear"></dd>
                    </dl>
                <%}%>
                    </div>

                </div>

                </html>
