<div class="section">
<div class="row">
<!--col-md-8 col-md-offset-2-->
    <div class="">
        <div class="box">
            <div class="box-title">
                <% if(locals.data){ %>
                <h3><i data-toggle="modal" data-target="#rename-cv-modal" class="fa fa-edit" cv-id="<%=data.Id%>" cv-name="<%=data.Name%>"></i><span><%=data.Name%></span></h3>
                <!--Modal update CV name-->
                <div id="rename-cv-modal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Rename your CV<button type="button" style="float: right;font-size: 21px;font-weight: 700;line-height: 1;color: #000;text-shadow: 0 1px 0 #fff;" data-dismiss="modal">&times;</button></h4>
                            </div>
                            <div class="modal-body">
                            <form class="form-horizontal" id="validation_form_cvname" autocomplete="off" method="POST">
                                <div class="row">
                                    <div class="col-sm-12 col-lg-12">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-lg-3 control-label">Your CV Name</label>
                                            <div class="col-sm-9 col-lg-9 controls">
                                                <input type="text" maxlength="50" placeholder="Enter your CV name"  class="form-control" name="cvname" id="cvname" value="<%=data.Name%>"/>
                                            <%}%>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </form>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" id="btn-renamecv">Update CV name</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript" src="js/cv_list.js"></script>
                <div class="box-tool">
                  <button id="btnPreviewCV" class="btn btn-primary "><i class="fa fa-eye"></i> Preview & Download</button>
                </div>
            </div>
            <div class="box-content">
                <div class="tabbable tabs-left">
                    <ul id="myTab3" class="nav nav-tabs active-blue">
                        <li class="active"><a href="#contact-info" data-toggle="tab"><i class="fa fa-envelope"></i> Contact Information</a></li>
                        <li><a href="#summary" data-toggle="tab" onclick="getSummary()"><i class="fa fa-list-ul"></i> Summary</a></li>
                    <%if(locals.cv_section){%>
                        <script>
                            var data = <%- JSON.stringify(cv_section) %>
                            var licontactinfo = '<li class="active"><a href="#contact-info" data-toggle="tab"><i class="fa fa-envelope"></i> Contact Information</a></li>';
                            var lisummary = '<li><a href="#summary" data-toggle="tab" onclick="getSummary()"><i class="fa fa-list-ul"></i> Summary</a></li>';
                            var liexperience = '<li value="'+ data[2].Section_Id +'" draggable="true"><a href="#experience" data-toggle="tab" onclick="getExperience()"><i class="fa fa-users"></i> Experience <span class="glyphicon glyphicon-move  mousemove"></a></li>';
                            var liproject = '<li value="'+ data[3].Section_Id +'" draggable="true"><a href="#project" data-toggle="tab"><i class="fa fa-briefcase"></i> Project <span class="glyphicon glyphicon-move  mousemove"></a></li>';
                            var liskill = '<li value="'+ data[4].Section_Id +'"  draggable="true"><a href="#skill" data-toggle="tab" onclick="getSkill()"><i class="fa fa-thumbs-up"></i> Skill <span class="glyphicon glyphicon-move  mousemove"></a></li>'
                            var licertification = '<li value="'+ data[5].Section_Id +'" draggable="true"><a href="#certification" id="activeCertificationSection" data-toggle="tab"><i class="fa fa-copy"></i> Certification <span class="glyphicon glyphicon-move  mousemove"></a></li>';
                            var lieducation = '<li value="'+ data[6].Section_Id +'" draggable="true"><a href="#education" data-toggle="tab" onclick="getEducation()"><i class="fa fa-graduation-cap"></i> Education <span class="glyphicon glyphicon-move  mousemove"></a></li>';
                            var listarray = [licontactinfo,lisummary,liexperience,liproject,liskill,licertification,lieducation];
                            
                            for(var i = 2; i < data.length; i++){
                                $(listarray[data[i].Order-1]).appendTo("#myTab3");
                            }
                            var dragSrcEl = null;

                            function handleDragStart(e) {
                            // Target (this) element is the source node.
                            dragSrcEl = this;
                            e.dataTransfer.effectAllowed = 'move';
                            e.dataTransfer.setData('text/html', this.innerHTML);
                            }

                            function handleDragOver(e) {
                                if (e.preventDefault) {
                                    e.preventDefault(); // Necessary. Allows us to drop.
                                }
                                //e.dataTransfer.dropEffect = 'move';  // See the section on the DataTransfer object.
                                return false;
                            }

                            function handleDragEnter(e) {
                                // this / e.target is the current hover target.
                                this.classList.add('over');        
                            }

                            function handleDragLeave(e) {
                                this.classList.remove('over');  // this / e.target is previous target element.
                            }

                            function handleDrop(e) {
                                // this/e.target is current target element.
                                if (e.stopPropagation) {
                                    e.stopPropagation(); // Stops some browsers from redirecting.
                                }
                                    [].forEach.call(cols, function (col) {
                                            col.classList.remove('over');
                                        });
                                // Don't do anything if dropping the same column we're dragging.
                                if (dragSrcEl != this) {
                                    // Set the source column's HTML to the HTML of the column we dropped on.
                                        var existactiveclass = dragSrcEl.classList.contains("active");
                                        if(existactiveclass == true){
                                            dragSrcEl.classList.remove('active');
                                            this.classList.add('active');
                                        }
                                        var dragSrcElvalue = dragSrcEl.value;
                                        var thisvalue = this.value;
                                        var datasend1 = null;
                                        var datasend2 = null;
                                        for(var i = 2; i < data.length; i++){
                                            if(data[i].Order == dragSrcElvalue){
                                                datasend1 = data[i];
                                            }
                                            if(data[i].Order == thisvalue){
                                                datasend2 = data[i];
                                            }
                                        }
                                        datasend1.Order = thisvalue;
                                        datasend2.Order = dragSrcElvalue;
                                        dragSrcEl.innerHTML = this.innerHTML;
                                        //dragSrcEl.value = thisvalue;
                                        this.innerHTML = e.dataTransfer.getData('text/html');
                                        //this.value = dragSrcElvalue;
                                        var urlpost = window.location.href + '/cv_section/update';
                                        $.ajax({
                                        type: "POST",
                                        url: urlpost,
                                        dataType: 'json',
                                        async: false,
                                        contentType: 'application/json; charset=utf-8',
                                        data: JSON.stringify({data1:datasend1,data2:datasend2}),
                                        success: function (res1,success) {
                                            var flag = res1.data1.error + res1.data2.error;
                                            if(flag == 2){
                                                showAnnoucement(1, 'layout', 'updated');
                                            }else{
                                                showAnnoucement(0, 'layout', 'updated');
                                            }
                                            
                                            //showAnnoucement(res.flag, 'skill', 'edited');
                                        },
                                        error: function(x,e){
                                            
                                        }
                                    }); 
                                }
                                return false;
                            }

                            function handleDragEnd(e) {

                            }
                            
                            var cols = document.querySelectorAll('#myTab3 li[draggable="true"]');
                            [].forEach.call(cols, function(col) {
                                col.addEventListener('dragstart', handleDragStart, false);
                                col.addEventListener('dragenter', handleDragEnter, false)
                                col.addEventListener('dragover', handleDragOver, false);
                                col.addEventListener('dragleave', handleDragLeave, false);
                                col.addEventListener('drop', handleDrop, false);
                                col.addEventListener('dragend', handleDragEnd, false);
                            });
                            
      
                        </script>
                    <% } %>  
                    </ul>
                    <div id="tabSection" class="tab-content">
