<!DOCTYPE html>
<html>
<!-- Mirrored from shamsoft.net/flaty/extra_login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 25 Sep 2015 07:26:32 GMT -->
<head>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Admin Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!--base css styles-->
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">

        <!--page specific css styles-->
        <link rel="stylesheet" href="assets/data-tables/bootstrap3/dataTables.bootstrap.css">

        <!--flaty css styles-->
        <link rel="stylesheet" href="css/flaty.css">
        <link rel="stylesheet" href="css/flaty-responsive.css">

        <link rel="shortcut icon" href="img/favicon.html">
        <link rel="stylesheet" type="text/css" href="assets/bootstrap-dialog/css/bootstrap-dialog.css" />
        <link rel="stylesheet" type="text/css" href="assets/gritter/css/jquery.gritter.css" />
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
        
        
        
        <style>
            .logout{
                color:#fff;
                line-height:10px;
                margin-right:10px;
            }
        </style>
        
    </head>
</head>

<body>

    <div class="box">
    <!--<p><%= users %></p>-->

    <div class="box-title">
        <h3><i class="fa fa-table"></i> Admin Page</h3>
        <a href="/logout"><h5 class="pull-right logout">Log out</h3></a>
    </div>
    
    

    <div class="box-content">
        <br><br>
        <div class="clearfix"></div>
        <div class="table-responsive" style="border:0">
            <div id="table1_wrapper" class="dataTables_wrapper form-inline" role="grid">
                <table class="table table-advance dataTable" id="table1" aria-describedby="table1_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 50px;">ID</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 150px;">First Name</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 150px;">Last Name</th>
                            <th class="text-center sorting" role="columnheader" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 250px;">User Name</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 300px;">Email</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 300px;">State</th>
                            <th class="sorting text-center" role="columnheader" tabindex="0" aria-controls="table1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 300px;">Num of CV</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>

                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                        <% for(var i=0; i< users.length; i++) { %>
                            <tr class="table-flag-blue odd">
                                <td class=" "> <%= users[i].Id %></td>
                                <td class=" "> <%= users[i].Firstname %></td>
                                <td class=" ">  <%= users[i].Lastname %></td>
                                <td class="text-center "> <%= users[i].Username %></td>
                                <td class=" "><%= users[i].Email %></td>
                                <% if(users[i].IsConfirmed == 0 ) { %>
                                    <td><span class="text-danger">Not confirmed</span></td>
                                <% } else { %>
                                    <td><span class="text-primary">Confirmed</span></td>
                                <% } %>
                                <td class="text-center"><%= users[i].CV %></td>
                                <td><button class="btn btn-danger btn-xs btn-block" title="Block this user" user-id="<%= users[i].Id %>">Block</button></td>
                            </tr>
                        <% } %>
                    </tbody>

                </table>
                <!--
                <div class="row"><div class="col-xs-12 col-sm-6"><div class="dataTables_info" id="table1_info">1 - 10 of 15</div></div><div class="col-xs-12 col-sm-6"><div class="dataTables_paginate paging_bootstrap"><ul class="pagination"><li class="prev disabled"><a href="#">← Prev</a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li class="next"><a href="#">Next → </a></li></ul></div></div></div>
                -->
            </div>
        </div>
    </div>
</div>
<!--Plugin-->
<script>window.jQuery || document.write('<script src="assets/jquery/jquery-2.1.1.min.js"><\/script>')</script>
<script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

  <script type="text/javascript" src="assets/jquery-validation/dist/additional-methods.min.js"></script>
  <script type="text/javascript" src="assets/chosen-bootstrap/chosen.jquery.js"></script>
  <script type="text/javascript" src="assets/bootstrap-daterangepicker/daterangepicker.js"></script>
  <script type="text/javascript" src="assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="assets/bootstrap-daterangepicker/date.js"></script>
  <script type="text/javascript" src="assets/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
  <script type="text/javascript" src="assets/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
  <script type="text/javascript" src="assets/bootstrap-dialog/js/bootstrap-dialog.js"></script>
  <script type="text/javascript" src="assets/gritter/js/jquery.gritter.js"></script>
  <script type="text/javascript" src="assets/momentjs/moment.js"></script>
  <script type="text/javascript" src="js/admin.js"></script>
</body>



<!-- Mirrored from shamsoft.net/flaty/extra_login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 25 Sep 2015 07:26:32 GMT -->
</html>
