
<header>
    <%- include ../layouts/header.ejs %>
</header>
<main>
    <div class="container" >
        <input type="hidden" name="idcv" value=<%=data.Id%> />
        <%- include ../layouts/section.ejs %>   
        <%- include contact_info.ejs %>
        <%- include summary.ejs %>
        <%- include experience.ejs %>
        <%- include project.ejs %>
        <%- include skill.ejs %>
        <%- include certification.ejs %>
        <%- include education.ejs %>
    </div>
</main>
<footer>
    <%- include ../layouts/footer.ejs %>
</footer>
