<%- include ../layouts/header.ejs %>
<link rel="stylesheet" type="text/css" href="css/cv_list.css">
<div class="container">
    <table class="table table-striped">
        <tr>
            <th>
                CV's Name
            </th>
            <th>
                Created Date
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
        <% if(locals.cvs){ %>
            <% cvs.forEach(function(cv) { %>
                <tr>
                <td><%=cv.Name%></td>
                <td><%=cv.CreatedDate%></td>
                <td><button class="btn btn-warning btn-sm btn-edit" cv-id="<%=cv.Id%>"><span class="glyphicon glyphicon-pencil"></span></button></td>
                <td><button class="btn btn-danger btn-sm btn-delete" cv-id="<%=cv.Id%>"><span class="glyphicon glyphicon-remove"></span></button></td>
                </tr>
                <% }); %>
        <%}%>

            <tr>
                <td colspan="4">
                    <button class="btn btn-success pull-right btn-add"><span class="glyphicon glyphicon-plus"></span> Add New CV</button>
                </td>
            </tr>
    </table>

</div>
    <%- include ../layouts/footer.ejs %>
<script type="text/javascript" src="js/cv_list.js"></script>
