<%- include ../layouts/header.ejs %>
<link rel="stylesheet" type="text/css" href="css/cv_list.css">
<div class="container">
    <table class="table table-striped">
        <tr>
            <th>
                CV's Name
            </th>
            <th>
                Created Date
            </th>
            <th>
                Action
            </th>
            <!-- <th>
                Delete
            </th>
            <th>
                Preview
            </th> -->
        </tr>
        <% if(locals.cvs){ %>
            <% cvs.forEach(function(cv) { %>
                <tr>
                <td><h5><i data-toggle="modal" data-target="#rename-cv-modal" class="fa fa-edit" cv-id="<%=cv.Id%>" cv-name="<%=cv.Name%>"></i><%=cv.Name%></h5></td>
                <td><%=cv.CreatedDate%></td>
                <!-- <td><button class="btn btn-warning btn-sm btn-edit" cv-id="<%=cv.Id%>"><span class="glyphicon glyphicon-pencil"></span></button></td>
                <td><button class="btn btn-danger btn-sm btn-delete" cv-id="<%=cv.Id%>"><span class="glyphicon glyphicon-remove"></span></button></td>
                <td><button class="btn btn-info btn-sm btn-print" cv-id="<%=cv.Id%>"><span class="glyphicon glyphicon-print"></span></button></td> -->
                <td><button class="btn btn-warning btn-sm btn-edit" cv-id="<%=cv.Id%>"><span class="glyphicon glyphicon-pencil"></span></button>
                <button class="btn btn-danger btn-sm btn-delete" cv-id="<%=cv.Id%>"><span class="glyphicon glyphicon-remove"></span></button>
                <button class="btn btn-info btn-sm btn-print" cv-id="<%=cv.Id%>"><span class="glyphicon glyphicon-print"></span></button></td>
                </tr>
                <% }); %>
        <%}%>

            <tr>
                <td colspan="3">
                    <button class="btn btn-success pull-right btn-add" data-toggle="modal" data-target="#create-cv-modal"><span class="glyphicon glyphicon-plus"></span> Add New CV</button>
                </td>
            </tr>
    </table>
    <!--Modal create new CV-->
    <div id="create-cv-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create your CV<button type="button" style="float: right;font-size: 21px;font-weight: 700;line-height: 1;color: #000;text-shadow: 0 1px 0 #fff;" data-dismiss="modal">&times;</button></h4>
                </div>
                <div class="modal-body">
                <form class="form-horizontal" id="validation_form_cv" autocomplete="off" action="/cv" method="POST">
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group row">
                                <label class="col-sm-3 col-lg-3 control-label">Your CV Name</label>
                                <div class="col-sm-9 col-lg-9 controls">
                                    <input type="text"  placeholder="Enter your CV name"  class="form-control" name="cvname" id="cvname">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btn-addnewcv">Add new</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal update CV name-->
    <div id="rename-cv-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Rename your CV<button type="button" style="float: right;font-size: 21px;font-weight: 700;line-height: 1;color: #000;text-shadow: 0 1px 0 #fff;" data-dismiss="modal">&times;</button></h4>
                </div>
                <div class="modal-body">
                <form class="form-horizontal" id="validation_form_cvname" autocomplete="off" action="" method="POST">
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="form-group row">
                                <label class="col-sm-3 col-lg-3 control-label">Your CV Name</label>
                                <div class="col-sm-9 col-lg-9 controls">
                                    <input type="text"  placeholder="Enter your CV name"  class="form-control" name="cvname" id="cvname">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btn-renamecv">Update CV name</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
    <%- include ../layouts/footer.ejs %>
<script type="text/javascript" src="js/cv_list.js"></script>
