<%- include ../layouts/header.ejs %>
<style>
#list-template {
  padding-top: 45px;
  border: 1px solid lavender
}

#template-review {
  padding-top: 10px;
  border: 1px solid lavender
}

#download-action {
  padding-top: 10px;
  border: 1px solid lavender;
  padding-bottom: 5px;
  text-align: right
}

.caption {
  text-align: center
}

.thumbnail > hr {
  margin-top: 2px;
  margin-bottom: 2px;
}

.template {
  cursor: pointer
}

</style>
<script type="text/javascript">
function imgError(image) {
  image.onerror = "";
  image.src = "/cover/_Blank.png";
  return true;
}

</script>
<div class="container" style="padding-top: 2px; margin-bottom: 50px">
  <div class="col-xs-12 col-sm-3 col-md-2" id="list-template">
    <% files.forEach(function(file) { %>
      <div class="template" template-name="<%= file %>">
        <div class="thumbnail">
          <a href='#'><img class="img-rounded image" src="/cover/<%= file.split('.')[0] %>.png" onerror="imgError(this)" alt="Template 1" style="height: 150px"></a>
          <hr />
          <div class="caption">
            <h4><%= file %></h4>
          </div>
        </div>
      </div>
      <% }); %>
    </div>


    <div id="download-action" class="col-xs-12 col-sm-9 col-md-10">
      <div class="form-inline" role="form">
        <div class="form-group">
          <label for="format">Format:</label>
          <select id="format" class="form-control input-sm" tabindex="1">
            <option value="A0">A0</option>
            <option value="A1">A1</option>
            <option value="A2">A2</option>
            <option value="A3">A3</option>
            <option value="A4" selected="true">A4</option>
            <option value="A5">A5</option>
            <option value="Letter">Letter</option>
          </select>
        </div>

        <div class="form-group">
          <label for="orientation">Orientation:</label>
          <select id="orientation" class="form-control input-sm" tabindex="1">
            <option value="Portrait">Portrait</option>
            <option value="Landscape">Landscape</option>
          </select>
        </div>
        <div class="form-group">
          <label for="zoom">Zoom:</label>
          <input id="zoom" class="form-control input-sm" type="number" value="1" min="1" max="10" step="0.25" />
        </div>
        <div class="form-group">
          <label for="margin-top">Margin(mm) Top:</label>
          <input id="margin-top" class="form-control input-sm" type="number" value="2" min="0" max="50" step="0.25" />
        </div>
        <div class="form-group">
          <label for="margin-right">Right:</label>
          <input id="margin-right" class="form-control input-sm" type="number" value="2" min="0" max="50" step="0.25" />
        </div>
        <div class="form-group">
          <label for="margin-bottom">Bottom:</label>
          <input id="margin-bottom" class="form-control input-sm" type="number" value="2" min="0" max="50" step="0.25" />
        </div>
        <div class="form-group">
          <label for="margin-left">Left:</label>
          <input id="margin-left" class="form-control input-sm" type="number" value="2" min="0" max="50" step="0.25" />
        </div>
        <div class="btn-group btn-group-sm">
          <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="glyphicon glyphicon-download-alt"></span> Download <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-primary">
            <li><a href="#" class="exportPDF"><span class="glyphicon glyphicon-file"></span> PDF</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-print"></span> Print</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="template-review" class="col-xs-12 col-sm-9 col-md-10">
    </div>
  </div>
  <%- include ../layouts/footer.ejs %>

  <script>
  var getReview = function(templateName){
    var name = templateName || '<%= files[0] %>';
    $("#template-review").load('http://localhost:8080/template/templateReview/' + name );
  }

  $(document).ready(function(){
    getReview();
    var currentTemplate = '';
    $('.template').click(function(){
      currentTemplate = $(this).attr('template-name');
      getReview(currentTemplate);
    });

    $('.exportPDF').click(function(){
      if(currentTemplate == ''){
        currentTemplate = '<%= files[0] %>';
      }
      var format = $('#format').val();
      var orientation = $('#orientation').val();
      var zoom = $('#zoom').val();
      var marginTop = $('#margin-top').val();
      var marginRight = $('#margin-right').val();
      var marginBottom= $('#margin-bottom').val();
      var marginLeft = $('#margin-left').val();
      window.open('http://localhost:8080/template/download/' + currentTemplate.split('.')[0] + "?format=" + format +"&orientation=" + orientation + "&zoom=" + zoom
      + '&marginTop=' + marginTop + '&marginRight=' + marginRight + '&marginBottom=' + marginBottom + '&marginLeft=' + marginLeft,'_blank');
    });
  });

  </script>
